.register-container {
  margin-top: 1rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.register-box {
  margin-bottom: 10rem;
  width: 100%;
  max-width: 400px;
}

.register-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.register-form input {
  width: 100%;
  border: 1px solid #dddddd;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.btn-primary {
  width: 100%;
  background-color: #f5385d;
  color: white;
  padding: 0.75rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 0.5rem 0;
}

.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.line {
  height: 1px;
  background-color: #dddddd;
  flex-grow: 1;
}
